//$main-color: #337ab7;
$main-color: #424242;
//$footer-color: #193a56;
$footer-color: #828282;
$main-dark: #222222;
//$footer-text-color: #a0a3a4;
$footer-text-color: #fff;
//$footer-heading-color: #d9d6d6;
$footer-heading-color: #fff;