<div>
    <button class="btn btn-info btn-sm"
            type="button"
            title="{{'APP.ACTIONS.OK'|translate}}"
            ng-click="vm.edit()"
            ng-show="vm.toggle"
            ng-disabled="vm.disabled">
        <span class="fa fa-check"></span>
    </button>
    <button class="btn btn-default btn-sm"
            type="button"
            title="{{'APP.ACTIONS.CANCEL'|translate}}"
            ng-click="vm.cancel()"
            ng-show="vm.toggle">
        <span class="fa fa-remove"></span>
    </button>
    <button class="btn btn-default btn-sm"
            type="button"
            title="{{'APP.ACTIONS.EDIT'|translate}}"
            ng-click="vm.toggled()"
            ng-show="!vm.toggle">
        <span class="fa fa-pencil"></span>
    </button>
    <button class="btn btn-danger btn-sm"
            type="button"
            title="{{'APP.ACTIONS.DELETE'|translate}}"
            ng-click="vm.delete()"
            ng-show="!vm.toggle">
        <span class="fa fa-trash"></span>
    </button>
</div>