<uib-accordion close-others="false" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <uib-accordion-group panel-class="panel-info" is-open="true">
        <uib-accordion-heading>
            <i class="fa fa-newspaper-o"></i>&nbsp;
            <span ng-bind="vm.method == 'create' ? 'افزودن خبر' : 'ویرایش خبر'"></span>
            <i class="pull-left fa"
               ng-class="{'fa-chevron-down': accordion.groups[0].isOpen, 'fa-chevron-left': !accordion.groups[0].isOpen}"></i>
        </uib-accordion-heading>
        <div class="panel-body">
            <form name="newsForm">
                <div class="form-group">
                    <label for="title">
                        عنوان خبر
                    </label>
                    <input ng-disabled="vm.loading" type="text" class="form-control" id="title" name="title" required
                           ng-model="vm.news.title">
                </div>
                <div class="form-group">
                    <label for="title">
                        نویسنده خبر
                    </label>
                    <input ng-disabled="vm.loading" type="text" class="form-control" id="writer" name="writer" required
                           ng-model="vm.news.writer">
                </div>
                <div class="form-group">
                    <label for="lead">
                        مقدمه خبر
                    </label>
                    <input ng-disabled="vm.loading" type="text" class="form-control" id="lead" name="lead"
                           ng-model="vm.news.lead">
                </div>
                <div class="form-group">
                    <label for="body">
                        متن خبر
                    </label>
                    <textarea ng-disabled="vm.loading" type="text" class="form-control" id="body" name="body" required
                              ng-model="vm.news.body"></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-default" ng-click="vm.save()" ng-disabled="vm.loading"
                            ng-disabled="newsForm.$invalid">
                        <i class="fa fa-check"></i>
                        <span ng-bind="vm.method == 'update' ? 'ویرایش' : 'ایجاد خبر'"></span>
                    </button>
                </div>
            </form>
        </div>
    </uib-accordion-group>
    <uib-accordion-group panel-class="panel-default" ng-if="vm.method == 'update'">
        <uib-accordion-heading>
            <i class="fa fa-picture-o"></i>&nbsp;
            <span ng-bind="'تصویر خبر'"></span>
            <i class="pull-left fa"
               ng-class="{'fa-chevron-down': accordion.groups[0].isOpen, 'fa-chevron-left': !accordion.groups[0].isOpen}"></i>
        </uib-accordion-heading>
        <div class="panel-body">
            <div class="form-group">
                <img ng-if="vm.news.mainPicture.id && !vm.loading" class="pull-left"
                     style="border: ridge 1px blanchedalmond;margin: 5px auto;"
                     ng-src="{{vm.host}}{{vm.news.mainPicture.url + '?data=' + vm.date}}"
                     width="60">
                <i class="fa fa-spinner pull-left" ng-show="vm.loading"></i>
                <label for="picture-input">
                        <span class="btn btn-default">
                            <i class="fa fa-file-picture-o"></i>&nbsp;
                            <span ng-bind="vm.cropper.sourceImage.name || 'انتخاب تصویر'"></span>
                            &nbsp;
                            <span ng-bind="'(حجم: ' + (vm.cropper.sourceImage.size/1000) + 'KB)'"
                                  ng-show="vm.cropper.sourceImage.size"></span>
                        </span>
                </label>
                <input name="picture" class="form-control" id="picture-input" type="file" img-cropper-fileread
                       ng-disabled="vm.loading"
                       image="vm.cropper.sourceImage" style="position: fixed; top: -100em"/>
                <div ng-show="vm.cropper.sourceImage">
                    <canvas width="500" height="300" id="canvas" image-cropper image="vm.cropper.sourceImage"
                            cropped-image="vm.cropper.croppedImage" crop-width="300" crop-height="300"
                            keep-aspect="false" touch-radius="30" crop-area-bounds="vm.bounds"></canvas>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="vm.mainPicture()" ng-disabled="vm.loading"
                        ng-disabled="!vm.cropper.croppedImage">
                    <i class="fa fa-check"></i>
                    <span ng-bind="'تصویر خبر'"></span>
                </button>
            </div>
        </div>
    </uib-accordion-group>
</uib-accordion>