<div class="modal-header">
    <a class="pull-left"  data-ng-click="ServicesVm.ok()">
        <i class="fa fa-times"></i>
    </a>
    <h3 class="modal-title">خدمات سه ماهی</h3>
</div>
<div class="modal-body">
    <uib-tabset active="active">
        <uib-tab ng-repeat="service in ServicesVm.services" index="$index" select="alertMe()">
            <uib-tab-heading>
                <i ng-if="service.awesomeIcon" class="fa {{service.awesomeIcon}}"></i>
                <img ng-if="service.logoOut" ng-src="{{service.logoOut}}" class="img-responsive"
                     style="border-radius: 50%;width: 20px"></img>
            </uib-tab-heading>
            <span ng-bind="service.name"></span>
        </uib-tab>
    </uib-tabset>

</div>